.card {
  max-width: 413px;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  gap: 8px;
}

.card__like-button {
  background-image: url(../images/like-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 1;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  max-width: 353px;
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    object-fit: cover;
  }

  .card__title {
    max-width: 235px;
  }
}
