.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    visibility 0.3s ease,
    opacity 0.3s ease;
  pointer-events: none;
  opacity: 0;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(0, 630px) 40px;
  column-gap: 16px;
  align-items: start;
}

.modal__close-btn {
  height: 40px;
  width: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  align-self: start;
  margin-top: -6px;
}

.modal__close-btn:hover {
  opacity: 0.6;
}

.modal__close-icon {
  width: 26px;
  height: 26px;
  opacity: 0.5;
}
.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
  grid-column: 1/ -1;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  height: 52px;
  max-width: 630px;
  width: 100%;
}

.modal__input::placeholder {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.3);
}

.modal__submit-btn {
  margin-right: auto;
  flex-direction: row;
  align-self: flex-end;
  justify-content: center;
  gap: 8px;
  width: 156px;
  height: 52px;
  padding: 18px 32px;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fff;
  white-space: nowrap;
  display: flex;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    row-gap: 24px;
  }

  .modal__title {
    font-size: 20px;
    margin: 0;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__close-btn {
    width: 26px;
    height: 26px;
    margin-top: 0;
  }

  .modal__close-icon {
    width: 26px;
    height: 26px;
  }

  .modal__submit-btn {
    width: 100%;
    margin-right: 0;
  }
}
